@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

$blueKingColor: #1565c0;
$borderWhite: 4px solid #ecfffd;

@font-face {
  font-family: CheriLiney;
  src: url(../fonts/CheriLiney.ttf);
}

@mixin middle_custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: $blueKingColor;
  font-family: "CheriLiney", cursive;
  color: #ecfffd;
  margin: 0;
}

.center {
  @include middle_custom;
}

.avatar {
  border: $borderWhite;
  padding: 25px;
  border-radius: 100px;
}

.avatar img {
  height: 100px;
  width: 100px;
}

.job {
  margin-top: -25px;
}
