$blueKingColor: #1565c0;
$borderWhite: 4px solid #ecfffd;

@font-face {
  font-family: CheriLiney;
  src: url(../fonts/CheriLiney.ttf);
}

@mixin middle_custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: $blueKingColor;
  font-family: "CheriLiney", cursive;
  color: #ecfffd;
  margin: 0;
}

.center {
  @include middle_custom;
}

.logo {
  border: $borderWhite;
  padding: 25px;
  border-radius: 100px;
}

.logo img {
  height: 100px;
  width: 100px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
